.gfbitpay_recurring_complex .gf_hidden {
	display: none;
}

.no-js #gfbitpay-opt-admin-stored-beagle,
.no-js #gfbitpay-opt-admin-stored-test {
	display: none;
}

#gfbitpay-opt-admin-stored-beagle,
#gfbitpay-opt-admin-stored-test {
	color: #c00;
	font-weight: bold;
}
